@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f2f2f2;
}

.imagenylogo-1 {
  height: 70px;
}

.imagenylogo {
  height: 50px;
  margin-left: -30px;
}

nav .logo {
  height: 0px;
  visibility: hidden;
}

.primerflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  visibility: visible;
}

.imagenylogo {
  height: 70px;
  padding-left: 40px;
  visibility: visible;
}

.redessociales {
  height: 40px;
  visibility: visible;
}

nav {
  background: gray;
}

nav:after {
  content: '';
  clear: both;
  display: table;
}

nav ul {
  float: left;
  list-style: none;
  margin-right: 0px;
  position: relative;
  border-left: 31px solid cyan;
  border-right: 35px solid cyan;
}

nav ul li {
  float: left;
  display: inline-block;
  background: gray;
  margin: 0 8px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  line-height: 70px;
  font-size: 19.6px;
  padding: 8px 15px;
}

nav ul li a:hover {
  color: cyan;
  border-bottom: 1px solid cyan;
}

nav ul ul li:hover {
  color: cyan;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: top .3s;
  transition: top .3s;
  border-left: 0px;
  border-right: 0px;
}

nav ul ul ul {
  border-top: none;
}

nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 250px;
  float: none;
  display: list-item;
  border-bottom: 1px solid cyan;
}

nav ul ul li a {
  line-height: 50px;
}

nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 150px;
}



.fa-plus {
  margin-left: 40px;
  font-size: 15px;
}

.show, .icon, input {
  display: none;
}

.slider {
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 400%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }

}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }

}

.frasedeseparador {
  text-align: center;
  font-size: 30px;
}

.separador {
  border-top: 2px solid aqua;
  height: 2px;
  max-width: 200px;
  padding-bottom: 50px;
  margin: 50px auto 0 auto;
}

.imagenes-novedades {
  position: relative;
  padding: 0px 50px 15px 50px;
  display: -ms-grid;
  display: grid;
  font-size: 20px;
  background-color: gray;
  -ms-grid-columns: (0fr)[0];
      grid-template-columns: repeat(0, 0fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
      grid-template-areas: " tele tele tele especialidadesmed especialidadesmed especialidadesmed imagrx imagrx imagrx ";
}

.imagenes-novedades a:link {
  color: black;
  text-decoration: none;
}

.imagenes-novedades a:visited {
  color: black;
  text-decoration: none;
}

.imagenes-novedades a:hover {
  color: black;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.imagenes-novedades1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: tele;
}

.imagenes-enfermeria {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: especialidadesmed;
}

.imagenes-especialidades {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: imagrx;
}

.imagenes-novedades1 img {
  padding-top: 20px;
  min-height: 250px;
  max-height: 250px;
}

.imagenes-especialidades img {
  padding-top: 20px;
  min-height: 250px;
  max-height: 250px;
}

.imagenes-enfermeria img {
  padding-top: 20px;
  min-height: 250px;
  max-height: 250px;
}

.imagenes-novedades1 img:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.imagenes-especialidades img:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.imagenes-especialidades img:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.desplazamiento {
  padding-left: 80px;
}

.desplazamiento-2 {
  padding-left: 80px;
}

.desplazamiento-3 {
  padding-left: 120px;
}

.efecto img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.efecto img:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.hover a:link {
  border-top: 1px solid aqua;
}

.hover a:hover {
  border-top: 1px solid aqua;
}

.imagenes-novedades-segundo {
  position: relative;
  padding: 0px 50px 15px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
      grid-template-areas: " tele tele tele especialidadesmed especialidadesmed especialidadesmed imagrx imagrx imagrx accesorapido accesorapido ";
}

.imagenes-novedades-segundo a:link {
  color: black;
  text-decoration: none;
}

.imagenes-novedades-segundo a:visited {
  color: black;
  text-decoration: none;
}

.imagenes-novedades-segundo a:hover {
  color: black;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.imagenes-tele {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: tele;
}

.imagenes-especialidades-med {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: especialidadesmed;
}

.imagenes-imagrx {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: imagrx;
}

.imagenes-accesorapido {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-area: accesorapido;
  color: gray;
  background-color: gainsboro;
  padding-bottom: 66px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  margin-bottom: 100px;
}

.imagenes-accesorapido hr {
  border: 0px solid black;
  margin: 15px;
  padding-top: 2px;
}

.imagenes-accesorapido a:visited {
  color: black;
}

.imagenes-accesorapido a:visited {
  color: black;
}

.imagenes-accesorapido a:hover {
  color: black;
}

.comollegar {
  position: relative;
  min-height: 100px;
  max-height: 9000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0px;
      grid-template-areas: "mapa mapa datos datos";
}

.mapa {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mapa;
  padding: 0px;
  margin: 0px;
}

.datos {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: datos;
  background-color: gainsboro;
  color: white;
  text-align: left;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  width: auto;
  font-size: 13px;
}

.contacto a:link {
  color: white;
}

.contacto a:checked {
  color: white;
}

.datos img {
  vertical-align: middle;
}

.datosSangria {
  padding-left: 35px;
}

.datos a:link, a:hover, a:visited {
  color: white;
}

.menu-finaldepagina {
  position: relative;
  padding-left: 80px;
  padding-bottom: 30px;
  display: -ms-grid;
  display: grid;
  font-size: 20px;
  padding-top: 10px;
  background-color: gray;
  -ms-grid-columns: (0fr)[0];
      grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 35px;
      grid-template-areas:"muro1 muro2 muro3 muro4 muro5" ;
}

.columna1{
  grid-area: muro1;
  text-decoration: none;
}

.columnas-efecto{
  text-decoration: none;
}

.columnas-efecto ul{
  list-style: none;
}

.columnas-efecto a:hover{
  border-bottom: 1px solid aqua;
  color: azure;
}

.columnas-efecto a:link{
  text-decoration: none;
  color: azure;
}

.columnas-efecto a:visited{
  text-decoration: none;
  color: azure;
}

.columnas-efecto{
  color: azure;
}

.columnas-efecto li{
  padding: 10px;
  font-size: 15px;
}

.columnas-efecto h1{
  font-size: 20px;
  color: azure;
}

.columna2{
  grid-area: muro2;
}

.columna3{
  grid-area: muro3;
}

.columna4{
  grid-area: muro4;
}

.columna5{
  grid-area: muro5;
}

.flecha-arriba{

}
/*pagina dos*/
.hospitalescober2 {
  position: relative;
  padding: 0px 50px 15px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
  

}

.hospitalescober2 p {
  list-style: none;
  text-decoration: black;
}

}
.cober1{
  color: black;
  
}
.cober2{
  color: cyan;
  line-height: 60px;
  font-size: 17px;
}

.hospitalescober2 a{
  color: black;
  text-decoration: none;
}

.hospitalescober2 a:hover{
  color: yellow;
  font-family: cursive;
}

.hospitalescober2 a:visited{
  color: black;
}



#btn-arriba{
  display: none;
}

.flecha-arriba{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.inicio a, .icon-up-circle{
  display: block;
  text-decoration: none;
  background-color: gray;
  color: aqua;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
  transition: all 500ms ease;
}

.presentamedico img{
  width: 1263px;
}

/*Pagina 3*/

.img-cuerpomedico {
  position: relative;
  padding: 0px 0px 40px 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
  margin-left: 100px;
  line-height: 30px;
  grid-template-areas: "cober3";
        
}

.img-cuerpomedico p {
  list-style: none;
  text-decoration: black;
}

.presentamedico1{
  width: 820px;

}

.cober3{
  color: black;
  grid-area: cober3;
}

.cober4{
  color: cyan;
  font-size: 30px;
  padding-bottom: 17px;
  padding-left: 0px;
}

.imagenes-rayos{
  width: 820px;
  margin-left: 50px;
}

/*pagina Cuatro*/
.leyenda-historia{
  padding-left: 510px;
  font-size: 30px;
  background-color: darkgray;
  color: azure;
}

.historia-grid{
  padding-top: 30px;
  display: grid;
  font-size: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
  grid-template-areas: "primera seconda seconda seconda seconda seconda"
  ;
  
}

.grid-historiaprimera{
  grid-area: primera;
}

.grid-historiaprimera img{
  width: 550px;
  
}

.grid-historiaseconda{
  grid-area: seconda;
  font-size: 18px;
  color: grey;
  word-spacing: 4px;
}

.grid-historiaseconda p{
  padding-top: 30px;

}

.autoridades{
  padding-left: 550px;
  font-size: 35px;
  padding-top: 20px;
  color: aqua;
}

.autoridades-grid{
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  font-size: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
  grid-template-areas: "primeras secondas terceras"
  ;
  
}

.grid-autoridadesprimera{
  grid-area: primeras;
}

.grid-autoridadesprimera img{
  width: 550px;
  
}

.grid-autoridadesseconda{
  grid-area: secondas;
  font-size: 18px;
  color: grey;
}

.grid-autoridadesseconda p{
  padding-top: 10px;
}

.grid-autoridadestercera p{
  padding-top: 10px;

}

.grid-autoridadestercera{
  grid-area: terceras;
  font-size: 18px;
  color: grey;
}

.direccion{
  padding-left: 550px;
  font-size: 35px;
  padding-top: 20px;
  color: aqua;
}

.direccion-grid{
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  font-size: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
  grid-template-areas: "primeras secondas terceras"
  ;
  
}

.grid-direccionprimera{
  grid-area: primeras;
}

.grid-direccionprimera img{
  width: 550px;
  
}

.grid-direccionseconda{
  grid-area: secondas;
  font-size: 18px;
  color: grey;
}

.grid-direccionseconda p{
  padding-top: 10px;
}

.grid-direcciontercera p{
  padding-top: 10px;

}

.grid-direcciontercera{
  grid-area: terceras;
  font-size: 18px;
  color: grey;
}

.gerencia{
  padding-left: 550px;
  font-size: 35px;
  padding-top: 20px;
  color: aqua;
}

.gerencia-grid{
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  font-size: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
  grid-template-areas: "primeras secondas terceras"
  ;
  
}

.grid-gerenciaprimera{
  grid-area: primeras;
}

.grid-gerenciaprimera img{
  width: 550px;
  
}

.grid-gerenciaseconda{
  grid-area: secondas;
  font-size: 18px;
  color: grey;
}

.grid-gerenciaseconda p{
  padding-top: 10px;
}

.grid-gerenciatercera p{
  padding-top: 10px;

}

.grid-gerenciatercera{
  grid-area: terceras;
  font-size: 18px;
  color: grey;
}

.auditormedico{
  padding-left: 550px;
  font-size: 35px;
  padding-top: 110px;
  color: aqua;
}

.auditormedico-grid{
  padding-top: 70px;
  padding-bottom: 70px;
  display: grid;
  font-size: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
  grid-template-areas: "primeras secondas terceras"
  ;
  
}

.grid-auditormedicoprimera{
  grid-area: primeras;
}

.grid-auditormedicoprimera img{
  width: 350px;
}

.grid-auditormedicoseconda{
  grid-area: secondas;
  font-size: 18px;
  color: grey;
  padding-top: 70px;
}

.grid-auditormedicoseconda p{
  padding-top: 10px;
}

.grid-auditormedicotercera p{
  padding-top: 10px;

}

.grid-auditormedicotercera{
  grid-area: terceras;
  font-size: 18px;
  color: grey;
  padding-top: 70px;
}

@media only screen and (min-width: 0px) and (max-width: 374.9px) {
  .primerflex {
    margin-bottom: 50px;
    height: 0px;
    visibility: hidden;
  }

  .imagenylogo {
    height: 50px;
  }

  .redessociales {
    height: 0px;
  }

  nav ul {
    margin-right: 0px;
    float: left;
  }

  nav .logo {
    height: 100%;
    float: left;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    visibility: visible;
  }

  nav ul li, nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul {
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul ul {
    position: static;
  }

  nav ul ul a {
    padding-left: 40px;
  }

  nav ul ul li {
    border-bottom: 40px;
  }

  nav ul ul ul a {
    padding-left: 80px;
  }

  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }

  .show:hover {
    color: cyan;
  }

  .icon {
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
  }

  nav ul a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .show + a, ul {
    display: none;
  }

  [id^=btn]:checked + ul {
    display: block;
  }

  .imagen-responsive {
    width: 250px;
    height: 200px;
  }

  .imagenes-novedades {
    position: relative;
    padding: 0px 35px 15px 35px;
    display: -ms-grid;
    display: grid;
    font-size: 20px;
    background-color: gray;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
        grid-template-areas: 
        " tele tele tele "
 "especialidadesmed especialidadesmed especialidadesmed"
 "imagrx imagrx imagrx ";
  }
  
  .desplazamiento {
    padding-left: 65px;
  }

  .desplazamiento-2 {
    padding-left: 65px;
  }

  .desplazamiento-3 {
    padding-left: 55px;
  }

  .imagenes-novedades-segundo {
    position: relative;
    padding: 0px 0px 15px 33px;
    display: -ms-grid;
    display: grid;
    font-size: 20px;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
        grid-template-areas: 
        " tele tele tele" 
 "especialidadesmed especialidadesmed especialidadesmed" 
 "imagrx imagrx imagrx"
 " accesorapido accesorapido accesorapido";
  }

  .imagenes-accesorapido {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: accesorapido;
    color: gray;
    background-color: gainsboro;
    padding-bottom: 66px;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 17px;
    margin-bottom: 100px;
    width: 250px;
  }

  .comollegar {
    position: relative;
    min-height: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0px;
        grid-template-areas: "mapa"
                             "datos";
  }

  .google {
    width: 320px;
    height: 490px;
  }

  .menu-finaldepagina {
    display: none;
  }

  .columnas-efecto li{
    padding: 10px;
    font-size: 10px;
  }
  
  .columnas-efecto h1{
    font-size: 15px;
    color: azure;
  }

/*segunda pagina*/
  .presentamedico img{
    width: 320px;
  }

  .hospitalescober2 {
    position: relative;
    padding: 0px 0px 15px 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
  }

  .cober2{
    color: cyan;
    line-height: 60px;
  }

  /*Pagina 3*/


  .img-cuerpomedico{
    padding: 0px;
    margin: 0px;
  }

  .imagenes-rayos{
    width: 220px;
    margin-left: 50px;
  }

  .cober4 img{
    width:220px ;
    margin-left: 50px;
  }

  .cober3{
    font-size: 13px;
  }

  .cober4{
    font-size: 20px;
  }

  /*Pagina 4*/

  .leyenda-historia{
    padding-left: 90px;
    font-size: 10px;
  }

  .historia-grid{
    padding-top: 0px;
    display: grid;
    font-size: 10px;
    grid-template-columns: repeat(1, 0fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primera"
    "seconda "
    ;
  }

  .grid-historiaprimera img{
    width: 320px;
  }

  .grid-historiaseconda{
    font-size: 10px;
  }

  .autoridades{
    padding-left: 80px;
    font-size: 20px;
    padding-top: 20px;
    color: aqua;
  }
  
  .autoridades-grid{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primeras" 
    "secondas" 
    "terceras"
    ;
    
  }
  
  .grid-autoridadesprimera{
    grid-area: primeras;
  }
  
  .grid-autoridadesprimera img{
    width: 320px;
    
  }
  
  .grid-autoridadesseconda{
    grid-area: secondas;
    font-size: 10px;
    color: grey;
  }
  
  .grid-autoridadesseconda p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-autoridadestercera p{
    padding-top: 10px;
    padding-left: 30px;
  
  }
  
  .grid-autoridadestercera{
    grid-area: terceras;
    font-size: 10px;
    color: grey;
    
  }

  .direccion{
    padding-left: 65px;
    font-size: 20px;
    padding-top: 20px;
    color: aqua;
  }
  
  .direccion-grid{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primeras"
     "secondas"
     "terceras"
    ;
    
  }
  
  .grid-direccionprimera{
    grid-area: primeras;
  }
  
  .grid-direccionprimera img{
    width: 320px;
    
  }
  
  .grid-direccionseconda{
    grid-area: secondas;
    font-size: 10px;
    color: grey;
  }
  
  .grid-direccionseconda p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-direcciontercera p{
    padding-top: 10px;
    padding-left: 30px;
  
  }
  
  .grid-direcciontercera{
    grid-area: terceras;
    font-size: 10px;
    color: grey;
  }
  
  .gerencia{
    padding-left: 100px;
    font-size: 20px;
    padding-top: 20px;
    color: aqua;
  }
  
  .gerencia-grid{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primeras"
     "secondas"
     "terceras"
    ;
    
  }
  
  .grid-gerenciaprimera{
    grid-area: primeras;
  }
  
  .grid-gerenciaprimera img{
    width: 320px;
    
  }
  
  .grid-gerenciaseconda{
    grid-area: secondas;
    font-size: 10px;
    color: grey;
  }
  
  .grid-gerenciaseconda p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-gerenciatercera p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-gerenciatercera{
    grid-area: terceras;
    font-size: 10px;
    color: grey;
  }
  
  .auditormedico{
    padding-left: 60px;
    font-size: 20px;
    padding-top: 110px;
    color: aqua;
  }
  
  .auditormedico-grid{
    padding-top: 70px;
    padding-bottom: 70px;
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primeras"
    "secondas"
    "terceras"
    ;
    
  }
  
  .grid-auditormedicoprimera{
    grid-area: primeras;
  }
  
  .grid-auditormedicoprimera img{
    margin-left: 50px;
    width: 220px;
  }
  
  .grid-auditormedicoseconda{
    grid-area: secondas;
    font-size: 10px;
    color: grey;
    padding-top: 70px;
  }
  
  .grid-auditormedicoseconda p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-auditormedicotercera p{
    padding-top: 10px;
    padding-left: 30px;
  
  }
  
  .grid-auditormedicotercera{
    grid-area: terceras;
    font-size: 10px;
    color: grey;
    padding-top: 70px;
  }




}

@media only screen and (min-width: 375px) and (max-width: 424.9px) {

  .primerflex {
    margin-bottom: 50px;
    height: 0px;
    visibility: hidden;
  }

  .imagenylogo {
    height: 60px;
  }

  .redessociales {
    height: 0px;
  }

  nav ul {
    margin-right: 0px;
    float: left;
  }

  nav .logo {
    height: 100%;
    float: left;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    visibility: visible;
  }

  nav ul li, nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul {
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul ul {
    position: static;
  }

  nav ul ul a {
    padding-left: 40px;
  }

  nav ul ul li {
    border-bottom: 40px;
  }

  nav ul ul ul a {
    padding-left: 80px;
  }

  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }

  .show:hover {
    color: cyan;
  }

  .icon {
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
  }

  nav ul a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .show + a, ul {
    display: none;
  }

  [id^=btn]:checked + ul {
    display: block;
  }

  .imagen-responsive {
    width: 250px;
    height: 200px;
  }

  .imagenes-novedades {
    position: relative;
    padding: 0px 45px 15px 45px;
    display: -ms-grid;
    display: grid;
    font-size: 20px;
    background-color: gray;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
        grid-template-areas: " tele tele tele "
 "especialidadesmed especialidadesmed especialidadesmed"
 "imagrx imagrx imagrx ";
  }

  .imagenes-novedades-segundo {
    position: relative;
    padding: 0px 0px 15px 55px;
    display: -ms-grid;
    display: grid;
    font-size: 20px;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
        grid-template-areas: " tele tele tele" 
 "especialidadesmed especialidadesmed especialidadesmed" 
 "imagrx imagrx imagrx"
 " accesorapido accesorapido accesorapido";
  }

  .imagenes-accesorapido {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: accesorapido;
    color: gray;
    background-color: gainsboro;
    padding-bottom: 66px;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 17px;
    margin-bottom: 100px;
    width: 250px;
  }

  .comollegar {
    position: relative;
    min-height: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0px;
        grid-template-areas: "mapa"
 "datos";
  }

  .google {
    width: 375px;
    height: 490px;
  }

  .menu-finaldepagina {
    display: none;

  }

  /*segunda pagina*/

  .presentamedico img{
    width: 375px;
  }

  .hospitalescober2 {
    position: relative;
    padding: 0px 0px 15px 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    font-size: 13px;
  }

  .cober2{
    color: cyan;
    line-height: 60px;
    font-size: 13px;
  }

  /*Pagina 3*/


  .img-cuerpomedico{
    padding: 0px 10px 20px;
    margin: 0px;
  }

  .imagenes-rayos{
    width: 220px;
    margin-left: 50px;
  }

  .cober4 img{
    width:220px ;
    margin-left: 50px;
  }

  .cober3{
    font-size: 13px;
  }

  .cober4{
    font-size: 20px;
  }

  /*Pagina 4*/

  .leyenda-historia{
    padding-left: 140px;
    font-size: 10px;
  }

  .historia-grid{
    padding-top: 0px;
    display: grid;
    font-size: 10px;
    grid-template-columns: repeat(1, 0fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primera"
    "seconda "
    ;
  }

  .grid-historiaprimera img{
    width: 375px;
  }

  .grid-historiaseconda{
    font-size: 12px;
  }

  .autoridades{
    padding-left: 110px;
    font-size: 20px;
    padding-top: 20px;
    color: aqua;
  }
  
  .autoridades-grid{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primeras" 
    "secondas" 
    "terceras"
    ;
    
  }
  
  .grid-autoridadesprimera{
    grid-area: primeras;
  }
  
  .grid-autoridadesprimera img{
    width: 375px;
    
  }
  
  .grid-autoridadesseconda{
    grid-area: secondas;
    font-size: 14px;
    color: grey;
  }
  
  .grid-autoridadesseconda p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-autoridadestercera p{
    padding-top: 10px;
    padding-left: 30px;
  
  }
  
  .grid-autoridadestercera{
    grid-area: terceras;
    font-size: 14px;
    color: grey;
    
  }

  .direccion{
    padding-left: 85px;
    font-size: 20px;
    padding-top: 20px;
    color: aqua;
  }
  
  .direccion-grid{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primeras"
     "secondas"
     "terceras"
    ;
    
  }
  
  .grid-direccionprimera{
    grid-area: primeras;
  }
  
  .grid-direccionprimera img{
    width: 375px;
    
  }
  
  .grid-direccionseconda{
    grid-area: secondas;
    font-size: 14px;
    color: grey;
  }
  
  .grid-direccionseconda p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-direcciontercera p{
    padding-top: 10px;
    padding-left: 30px;
  
  }
  
  .grid-direcciontercera{
    grid-area: terceras;
    font-size: 14px;
    color: grey;
  }
  
  .gerencia{
    padding-left: 120px;
    font-size: 20px;
    padding-top: 20px;
    color: aqua;
  }
  
  .gerencia-grid{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primeras"
     "secondas"
     "terceras"
    ;
    
  }
  
  .grid-gerenciaprimera{
    grid-area: primeras;
  }
  
  .grid-gerenciaprimera img{
    width: 375px;
    
  }
  
  .grid-gerenciaseconda{
    grid-area: secondas;
    font-size: 14px;
    color: grey;
  }
  
  .grid-gerenciaseconda p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-gerenciatercera p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-gerenciatercera{
    grid-area: terceras;
    font-size: 14px;
    color: grey;
  }
  
  .auditormedico{
    padding-left: 80px;
    font-size: 20px;
    padding-top: 110px;
    color: aqua;
  }
  
  .auditormedico-grid{
    padding-top: 70px;
    padding-bottom: 70px;
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primeras"
    "secondas"
    "terceras"
    ;
    
  }
  
  .grid-auditormedicoprimera{
    grid-area: primeras;
  }
  
  .grid-auditormedicoprimera img{
    margin-left: 50px;
    width: 275px;
  }
  
  .grid-auditormedicoseconda{
    grid-area: secondas;
    font-size: 14px;
    color: grey;
    padding-top: 70px;
  }
  
  .grid-auditormedicoseconda p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-auditormedicotercera p{
    padding-top: 10px;
    padding-left: 30px;
  
  }
  
  .grid-auditormedicotercera{
    grid-area: terceras;
    font-size: 14px;
    color: grey;
    padding-top: 70px;
  }

  

}

@media only screen and (min-width: 425px) and (max-width: 767.9px) {

  .primerflex {
    margin-bottom: 70px;
    height: 0px;
    visibility: hidden;
  }

  .imagenylogo {
    height: 70px;
  }

  .redessociales {
    height: 0px;
    visibility: hidden;
  }
  
  nav ul {
    margin-right: 0px;
    float: left;
  }

  nav .logo {
    height: 100%;
    float: left;
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    visibility: visible;
  }

  nav ul li, nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul {
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul ul {
    position: static;
  }

  nav ul ul a {
    padding-left: 40px;
  }

  nav ul ul li {
    border-bottom: 40px;
  }

  nav ul ul ul a {
    padding-left: 80px;
  }

  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }

  .show:hover {
    color: cyan;
  }

  .icon {
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
  }

  nav ul a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .show + a, ul {
    display: none;
  }

  [id^=btn]:checked + ul {
    display: block;
  }

  .imagen-responsive {
    width: 250px;
    height: 200px;
  }

  .imagenes-novedades {
    position: relative;
    padding: 0px 50px 15px 65px;
    display: -ms-grid;
    display: grid;
    font-size: 20px;
    background-color: gray;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
        grid-template-areas: " tele tele tele "
 "especialidadesmed especialidadesmed especialidadesmed"
 "imagrx imagrx imagrx ";
  }

  .imagenes-novedades-segundo {
    position: relative;
    padding: 0px 0px 15px 80px;
    display: -ms-grid;
    display: grid;
    font-size: 20px;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
        grid-template-areas: " tele tele tele" 
 "especialidadesmed especialidadesmed especialidadesmed" 
 "imagrx imagrx imagrx"
 " accesorapido accesorapido accesorapido";
  }

  .imagenes-accesorapido {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: accesorapido;
    color: gray;
    background-color: gainsboro;
    padding-bottom: 66px;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 17px;
    margin-bottom: 100px;
    width: 250px;
  }

  .comollegar {
    position: relative;
    min-height: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0px;
        grid-template-areas: "mapa"
 "datos";
  }

  .google {
    width: 425px;
    height: 490px;
  }
  .menu-finaldepagina {
    display: none;

  }
  /*segunda pagina*/
  .presentamedico img{
    width: 425px;
  }

  .hospitalescober2 {
    position: relative;
    padding: 0px 0px 15px 110px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    font-size: 13px;
  }

  .cober2{
    color: cyan;
    line-height: 60px;
    font-size: 15px;
  }

  /*Pagina 3*/


  .img-cuerpomedico{
    padding: 0px 20px 40px;
    margin: 0px;
  }

  .imagenes-rayos{
    width: 320px;
    margin-left: 50px;
  }

  .cober4 img{
    width:320px ;
    margin-left: 50px;
  }

  .cober3{
    font-size: 13px;
  }

  .cober4{
    font-size: 20px;
  }

  /*Pagina 4*/

  .leyenda-historia{
    padding-left: 140px;
    font-size: 10px;
  }

  .historia-grid{
    padding-top: 0px;
    display: grid;
    font-size: 10px;
    grid-template-columns: repeat(1, 0fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primera"
    "seconda "
    ;
  }

  .grid-historiaprimera img{
    width: 425px;
  }

  .grid-historiaseconda{
    font-size: 12px;
  }

  .autoridades{
    padding-left: 140px;
    font-size: 20px;
    padding-top: 20px;
    color: aqua;
  }
  
  .autoridades-grid{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primeras" 
    "secondas" 
    "terceras"
    ;
    
  }
  
  .grid-autoridadesprimera{
    grid-area: primeras;
  }
  
  .grid-autoridadesprimera img{
    width: 425px;
    
  }
  
  .grid-autoridadesseconda{
    grid-area: secondas;
    font-size: 14px;
    color: grey;
  }
  
  .grid-autoridadesseconda p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-autoridadestercera p{
    padding-top: 10px;
    padding-left: 30px;
  
  }
  
  .grid-autoridadestercera{
    grid-area: terceras;
    font-size: 14px;
    color: grey;
    
  }

  .direccion{
    padding-left: 115px;
    font-size: 20px;
    padding-top: 20px;
    color: aqua;
  }
  
  .direccion-grid{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primeras"
     "secondas"
     "terceras"
    ;
    
  }
  
  .grid-direccionprimera{
    grid-area: primeras;
  }
  
  .grid-direccionprimera img{
    width: 425px;
    
  }
  
  .grid-direccionseconda{
    grid-area: secondas;
    font-size: 14px;
    color: grey;
  }
  
  .grid-direccionseconda p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-direcciontercera p{
    padding-top: 10px;
    padding-left: 30px;
  
  }
  
  .grid-direcciontercera{
    grid-area: terceras;
    font-size: 14px;
    color: grey;
  }
  
  .gerencia{
    padding-left: 150px;
    font-size: 20px;
    padding-top: 20px;
    color: aqua;
  }
  
  .gerencia-grid{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primeras"
     "secondas"
     "terceras"
    ;
    
  }
  
  .grid-gerenciaprimera{
    grid-area: primeras;
  }
  
  .grid-gerenciaprimera img{
    width: 425px;
    
  }
  
  .grid-gerenciaseconda{
    grid-area: secondas;
    font-size: 14px;
    color: grey;
  }
  
  .grid-gerenciaseconda p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-gerenciatercera p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-gerenciatercera{
    grid-area: terceras;
    font-size: 14px;
    color: grey;
  }
  
  .auditormedico{
    padding-left: 110px;
    font-size: 20px;
    padding-top: 110px;
    color: aqua;
  }
  
  .auditormedico-grid{
    padding-top: 70px;
    padding-bottom: 70px;
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-areas: "primeras"
    "secondas"
    "terceras"
    ;
    
  }
  
  .grid-auditormedicoprimera{
    grid-area: primeras;
  }
  
  .grid-auditormedicoprimera img{
    margin-left: 50px;
    width: 325px;
  }
  
  .grid-auditormedicoseconda{
    grid-area: secondas;
    font-size: 14px;
    color: grey;
    padding-top: 70px;
  }
  
  .grid-auditormedicoseconda p{
    padding-top: 10px;
    padding-left: 30px;
  }
  
  .grid-auditormedicotercera p{
    padding-top: 10px;
    padding-left: 30px;
  
  }
  
  .grid-auditormedicotercera{
    grid-area: terceras;
    font-size: 14px;
    color: grey;
    padding-top: 70px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023.9px) {

  .primerflex {
    margin-bottom: 60px;
    height: 20px;
    visibility: visible;
  }

  .imagenylogo {
    height: 60px;
    visibility: visible;
  }

  .redessociales {
    height: 40px;
    visibility: visible;
  }

  nav ul {
    margin-right: 0px;
    float: left;
  }

  nav .logo {
    height: 100%;
    float: left;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 320px;
    visibility: visible;
  }
  
  nav ul li, nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul {
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul ul {
    position: static;
  }

  nav ul ul a {
    padding-left: 40px;
  }

  nav ul ul li {
    border-bottom: 40px;
  }

  nav ul ul ul a {
    padding-left: 80px;
  }

  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }

  .show:hover {
    color: cyan;
  }

  .icon {
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
  }

  nav ul a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .show + a, ul {
    display: none;
  }

  [id^=btn]:checked + ul {
    display: block;
  }
  
  .imagen-responsive {
    width: 250px;
    height: 200px;
  }

  .imagenes-novedades {
    padding: 0px 30px 15px 40px;
  }
  
  .imagenes-novedades1 img {
    padding-top: 20px;
    width: 220px;
    padding-bottom: 20px;
  }

  .imagenes-especialidades img {
    padding-top: 20px;
    width: 220px;
    padding-bottom: 20px;
  }

  .imagenes-enfermeria img {
    padding-top: 20px;
    width: 220px;
    padding-bottom: 20px;
  }

  .desplazamiento {
    padding-left: 55px;
  }

  .desplazamiento-2 {
    padding-left: 55px;
  }

  .desplazamiento-3 {
    padding-left: 35px;
  }

  .google {
    width: 768px;
    height: 490px;
  }

  .imagenes-novedades-segundo {
    position: relative;
    padding: 0px 0px 15px 60px;
    display: -ms-grid;
    display: grid;
    font-size: 20px;
    -ms-grid-columns: (1fr)[11];
        grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 15px;
        grid-template-areas: " tele  especialidadesmed imagrx "
 "accesorapido accesorapido accesorapido";
  }

  .imagen-responsive {
    width: 200px;
  }

  .imagenes-accesorapido {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: accesorapido;
    text-align: center;
    color: gray;
    background-color: gainsboro;
    padding-bottom: 66px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 27px;
    margin-bottom: 50px;
  }

  .comollegar {
    position: relative;
    min-height: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0px;
        grid-template-areas: "mapa"
 "datos";
  }

  .menu-finaldepagina {
    display: none;

  }
  /*segunda pagina*/
  .presentamedico img{
    width: 768px;
  }

  .hospitalescober2 {
    position: relative;
    padding: 0px 0px 15px 110px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    font-size: 13px;
  }

  .cober2{
    color: cyan;
    line-height: 60px;
    font-size: 15px;
  }

  /*Pagina 3*/


  .img-cuerpomedico{
    padding: 0px 45px 20px;
    margin: 0px;
  }

  .imagenes-rayos{
    width: 220px;
    margin-left: 50px;
  }

  .cober4 img{
    width:520px ;
    margin-left: 50px;
  }

  .cober3{
    font-size: 16px;
  }

  .cober4{
    font-size: 25px;
  }

}

@media only screen and (min-width: 1024px) and (max-width: 1279.9px) {

  nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 13.93px;
    padding: 8px 15px;
  }

  .google {
    width: 681px;
    height: 490px;
  }
  /*segunda pagina*/
  .presentamedico img{
    width: 1024px;
  }

  /*Pagina 3*/


  .img-cuerpomedico{
    padding: 0px 80px 30px;
    margin: 0px;
  }

  .imagenes-rayos{
    width: 220px;
    margin-left: 50px;
  }

  .cober4 img{
    width:720px ;
    margin-left: 50px;
  }

  .cober3{
    font-size: 16px;
  }

  .cober4{
    font-size: 25px;
  }

}

@media only screen and (min-width: 1280px) and (max-width: 1439.9px) {

  nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 19,9px;
    padding: 8px 15px;
  }

  .google {
    width: 841px;
    height: 390px;
  }
  /*segunda pagina*/
  .presentamedico img{
    width: 1263px;
  }
  
  /*Pagina 3*/


  .img-cuerpomedico{
    padding: 0px 140px 40px;
    margin: 0px;
  }

  .imagenes-rayos{
    width: 220px;
    margin-left: 50px;
  }

  .cober4 img{
    width:820px ;
    margin-left: 50px;
  }

  .cober3{
    font-size: 19px;
  }

  .cober4{
    font-size: 27px;
  }

}

@media only screen and (min-width: 1440px) and (max-width: 1919.9px) {

  nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 23.78px;
    padding: 8px 15px;
  }

  .google {
    width: 960px;
    height: 490px;
  }
  /*segunda pagina*/
  .presentamedico img{
    width: 1440px;
  }

  /*Pagina 3*/


  .img-cuerpomedico{
    padding: 0px 140px 40px;
    margin: 0px;
  }

  .imagenes-rayos{
    width: 220px;
    margin-left: 50px;
  }

  .cober4 img{
    width:920px ;
    margin-left: 50px;
  }

  .cober3{
    font-size: 21px;
  }

  .cober4{
    font-size: 30px;
  }

}

@media only screen and (min-width: 1920px) and (max-width: 2000px) {

  nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 35.1px;
    padding: 8px 15px;
  }

  .google {
    width: 960px;
    height: 490px;
  }

}
/*# sourceMappingURL=estilos.css.map */